/* Sætter baggrunden til at være et billede,
Alt tekst på siden har en bestemt farve hvis ikke ændret */
body {
    color: darkslategray;
    padding: 0;
    margin: 0;
    background-image: url(../img/greenblur.jpg);
    background-attachment: fixed;
    background-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Placere hvid baggrund og centere det hele */
main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 170px;
    background: white;
}

/* Stopper billeder fra at være storer end den hvide baggrund */
img {
    max-width: 100%;
}

/* Sætter plante billederne i bunden af skærmen i en række */
li {
    max-width: 100%;
    width: 200px;
    height: 300px;
    padding: 60px;
}

/* Holder plante billederne på den hvide del af baggrund */
ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Sætter en standard farve for h1 og h2 */
h1, h2 {
    color: darkgreen;
}

/* Ændre teksten ud for plante billederne */
ul a {
    color: mediumseagreen;
    text-decoration: none;
}


header {
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    z-index: 5;
}

header h1, header h2, header h4 {
    background-color: whitesmoke;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    margin-top: 10px;
}

nav {
    text-align: center;
    padding: 1px;
    width: 100%;
    background-color: rgb(230, 227, 227);
}

nav a {
    color: darkgreen;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(219, 221, 220);
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
    border-style:;
    border-color: grey;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

footer {
    background-color: darkgreen;
    padding: 30px;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    /* bottom: 0; */
    margin-top: 6rem;
}

/* Id */
/* nav a#basilikum {
    z-index: 6;
}

nav a#kontaktos {
} */

/* classes */


.mainflex {
    display: flex;
}

.sideimg {
    width: 400px;
    margin-bottom: 5px;
    margin-right:  30px;
}

.sidetext {
    /* flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%; */
    margin-bottom: 3px;
}

img.Forside {
    width: 1000px;
}

article p {
    display: flex;
}

.round {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

  .Navhover {
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
  }

  .Navhover:hover {
    box-shadow: 20px 20px rgba(0, 255, 149, 0.575);
    border-radius: 15px;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
  }

  .planthover {
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    border-radius: 300px;
    box-shadow: 10px 10px rgba(0, 255, 106, 0.301);
  }

  .planthover:hover {
    box-shadow: 20px 20px rgba(0, 255, 149, 0.575);
    border-radius: 30px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
  }





/* Blog index */


h1#starttitle {
    text-align: center;
    font-size: 30px;
    line-height: 4rem;
}

.marginright {
    margin-right: 20px;
}

.p {
    margin-top: 20px;
    margin-left: 20px;
}

div.sidebar {
    float: left;
    background-color: darkgrey;
    padding: 20px;
    margin-right: 30px;
    text-align: left;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.sidebar img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.h3blog {
    margin-top: 60px;
    color: darkgreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h3blog2 {
    margin-top: 20px;
}

.h3gray {
    font-size: 18px;
    color: rgb(90, 90, 90);
}


.checkedboks1 {
    display: none;
}

.checkboks:checked ~.checkedboks1 {
    display: block;
}

.kontaktindex form, .kontaktos {
    max-width: 60%;
    width: 60%;
    justify-content: center;
}

.kontaktos {
    max-width: 48%;
    width: 48%;
}

.formarticle {
    display: flex;
    justify-content: center;
}

.kontaktindex form p, .kontaktos {
    display: flex;
}

.kontaktindex form p {
    /* justify-content: space-between; */
    margin-right: 1rem;
}

.kontaktindex div .checkedboks1 {
    display: flex;
    /* justify-content: center; */
}

.checkedboks, form p {
    justify-content: space-between;
}

.flexauto {
    flex: auto;
}

.contactform p input, .contactform p textarea {
    background-color: lightgray;
    resize: none;
}

.contactform p input:focus, .contactform p textarea:focus {
    background-color: white;
}

.kontaktindex p input:focus {
    color: white;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-size: 700% 700%;
    
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.kontaktindex p textarea:focus {
    color: white;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-size: 700% 700%;
    
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    }
    @keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}